@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

:root {
    --body: #dfdfdf;
    --main-menu: #162938;
    --bg-charger: #e8453e;
    --bg-meattwo: #fb3a33;
    --bg-tong: #f8b51c;
    --bg-phan: #f47524;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.body {
    background-color: var(--body);
    height: 100vh;
}

.header {
    background-color: var(--main-menu);
}

.img-logo {
    width: 80px;
}

.navbar .navbar-toggler {
    border-color: transparent;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.nav-item {
    padding-right: 20px;
}

/* .news {
    background: url(./images/Union.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 100px;
} */

.footer {
    background-color: var(--main-menu);
}

.footer>.container {
    padding: 60px 0px 60px 0px;
}

@media only screen and (min-width: 992px) {
    .nav-link {
        position: relative;
    }

    .nav-link::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: red;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .nav-link:hover::after {
        opacity: 1;
    }
}

@media only screen and (max-width: 991px) {

    .nav-item {
        margin-bottom: 10px;
    }

    .nav-item-last {
        margin-top: 15px;
    }

    .nav-link {
        border-bottom: 2px solid red;
    }
}

.footer>.container {
    margin-top: 10px;
}